@{
    ViewBag.Title = "ResetPasswordConfirm";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-image: url('/Images/background.jpg'); /* Background image */
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            padding: 40px;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            color: #fff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-size: 16px;
        }

        .form-control {
            width: 100%;
            height: 45px;
            background-color: rgba(255, 255, 255, 0.07);
            border: 1px solid black;
            border-radius: 3px;
            padding: 0 10px;
            font-size: 14px;
            color: black;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.07);
            color: #080710;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

            .btn-primary:hover {
                background-color: white;
            }
    </style>
</head>
<body>
    <form asp-action="ResetPasswordConfirm">
        <h2 style="text-align:center;color:black">Reset Password</h2>
        <hr style="margin-bottom:30px" />
        @Html.AntiForgeryToken()
        @Html.Hidden("token", ViewBag.Token as String)

        <div class="form-group">
            @Html.Label("New Password:", new { @style = "color: black" })
            @Html.Password("newPassword", new { @class = "form-control" })
        </div>

        <input type="submit" value="Reset Password" class="btn btn-primary" />
    </form>
</body>
</html>
